* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
}

.start {
  background-image: url(./start.jpg);
}

.middle {
  background-image: url(./middle.jpg);
}

.end {
  background-image: url(./end.jpg);
}

P {
  position: absolute;
  left: 100px;
  bottom: 300px;
}
